boto==2.49.0
boto3==1.7.70
botocore==1.10.70
Django==2.0.7
django-crispy-forms==1.7.2
django-photologue==3.8.1
django-sortedm2m==1.5.0
django-storages==1.6.6
docutils==0.14
ExifRead==2.1.2
jmespath==0.9.3
Pillow==5.2.0
python-dateutil==2.7.3
pytz==2018.5
s3transfer==0.1.13
six==1.11.0
