{% extends "base/base_2.html" %}

	{% load i18n %}

	{% block extrahead %}
		{% load  static %}
		<!-- Cover CSS -->
		<link rel="stylesheet" type="text/css" href=" {% static "css/signin.css" %} "> 
	{% endblock extrahead %}

	{% block page_title %}{% trans "Password Reset" %}{% endblock page_title %} 

	{% block content %}
		<div class="row mt-5">
  			<div class="col-lg-8 offset-lg-2">
  				<div class="card mx-auto">
  					<div class="card-body">
					    <h5 class="card-title font-weight-normal text-center">{% trans "Password Reset Sent" %}</h5>
					    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  					</div>
				</div>
  			</div>
		</div>
		
	{% endblock %}
