{% extends "base/base_2.html" %}

	{% load i18n %}

	{% load crispy_forms_tags %}

	{% block extrahead %}
		{% load  static %}
		<!-- Cover CSS -->
		<link rel="stylesheet" type="text/css" href=" {% static "css/signin.css" %} "> 
	{% endblock extrahead %}

	{% block page_title %}{% trans "Password Reset" %}{% endblock page_title %} 

	{% block content %}
	<div class="container"
		<div class="row mt-5">
  			<div class="col-lg-6 offset-lg-3">
  				<div class="card mx-auto">
  					<div class="card-body">
					    <h5 class="card-title font-weight-normal text-center">{% trans "Reset Your Password" %}</h5>
					    <h6 class="card-subtitle mb-2 text-muted text-center"> {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %} </h6>
					    <form method='POST'> 
					    	{% csrf_token %}
							{{ form|crispy }}
							<button type='submit' class='btn btn-outline-primary btn-block mb-3'> {% trans "Reset Password" %} </button>
						</form>
  					</div>
				</div>
  			</div>
		</div>
	</div>
		
	{% endblock %}
