{% extends "base/base_2.html" %}

	{% load i18n %}

	{% block extrahead %}
		{% load  static %}
		<!-- Cover CSS -->
		<link rel="stylesheet" type="text/css" href=" {% static "css/signin.css" %} "> 
	{% endblock extrahead %}

	{% block page_title %}{% trans "Password change" %}{% endblock page_title %} 

	{% block content %}
	<div class="container">
		<div class="row mt-5">
  			<div class="col-lg-8 offset-lg-2">
  				<div class="card mx-auto">
  					<div class="card-body text-center">
					    <h5 class="card-title font-weight-normal text-center">{% trans "Password Change Successful" %}</h5>
					    <p> {% trans "Your Password was successfully changed!" %} </p>
					    <a href=" /accounts/login " class="card-link">{% trans "Log In" %}</a>
  					</div>
				</div>
  			</div>
		</div>
	</div>	
	{% endblock %}
