{% extends 'base/base_2.html' %}

	{% load i18n %}

	{% load crispy_forms_tags %}

	{% block extrahead %}
		{% load  static %}
		<!-- Signin CSS -->
		<link rel="stylesheet" type="text/css" href=" {% static "css/signin.css" %} "> 
	{% endblock extrahead %}

  	{% block page_title %}
		{% blocktrans with page_title|default:"reset password"|title as page_title %}
			{{page_title}}
		{% endblocktrans %}
  	{% endblock page_title %} 

  	{% block content %}
		<section class="login-register-features" id="login-register-features">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 offset-lg-8">
						<div class="card card-top bg-light">
							<div class="card-body">
								{% if validlink %}
									<div class="card-title card-title-top">
										<h3 data-title="
											{% blocktrans with login_title|default:'set new password'|upper as login_title %}
												{{login_title}}
											{% endblocktrans %}">
										</h3>
									</div>
									<h6 class="card-subtitle mb-2 mt-5 text-muted text-center"> {% trans "Please enter your new Password" %} </h6>
									<form method="POST">
										{% csrf_token %}
										{{ form|crispy }}
										<button type='submit' class='btn btn-outline-warning'>
											{% blocktrans with submit_btn|default:"set new password"|title as submit_btn %}
												{{submit_btn}}
											{% endblocktrans %}
										</button>
									</form>
								{% else %}
									<h6 class="card-subtitle mb-2 mt-5 text-muted text-center"> {% trans "Password reset failed" %} </h6>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
  	{% endblock %}


