		{% extends 'base_2.html' %}{% load i18n %}{% load crispy_forms_tags %}{% block extrahead %}{% load  static %}
		<!-- Signin CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "css/signin.css" %}">{% endblock extrahead %}{% block page_title %}{% blocktrans with page_title|default:"password reset"|title as page_title %}{{page_title}}{% endblocktrans %}{% endblock page_title %}{% block content %}
		<section class="flexin-block-features" id="flexin-block-features">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 offset-lg-8">
						<div class="card card-top bg-light">
							<div class="card-body">
								<div class="card-title card-title-top">
									<h3 data-title="{% blocktrans with login_title|default:'reset password'|upper as login_title %}{{login_title}}{% endblocktrans %}"></h3>
								</div>
								<h6 class="card-subtitle mb-2 text-muted text-center">{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %} </h6>
								<form method="POST">{% csrf_token %}{{ form|crispy }}<button type='submit' class='btn btn-outline-warning'>{% blocktrans with submit_btn|default:"reset password"|title as submit_btn %}{{submit_btn}}{% endblocktrans %}</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>{{block.super}}{% endblock %}
