html,
body {
  height: 100%;
}

body {
  background-color: #333;
  color: #08737f;
}

.card {
  background-color: rgba(246, 243, 243, 0.75);
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
  color: #f8f8f8;
}
