html,
body {
  height: 100%;
}

body {
  background-color: #333;
  /*margin-top: 3rem;*/
}

section {
	padding: 50px 0;
}

.btn-outline-warning {
	display: block;
	color: rgb(8, 160, 163);
	border-color: rgb(8, 160, 163);
	background-color: transparent;
	margin: 0 auto 1rem auto;

}

.btn-outline-warning:hover {
	color: rgb(256, 256, 256);
	background-color: rgb(8, 160, 163);
}

.card-top {
	border: 0;
	padding-top: 3rem;
	opacity: .8;
	position: relative;
	z-index: 1;
}

.card-top .card-body p {
	text-align: center;
	font-size: .75rem;
	margin: 0;
	padding: 0;
}

.card-title-top {
	position: relative;
}

.card-title-top > h3::before {
	content: attr(data-title);
	position: absolute;
	display: block;
	font-size: 1.2rem;
	text-align: center;
	background-color: rgb(8, 160, 163);
	color: #fff;
	padding: 3rem;
	width: 100%;
	top: -9rem;
	left: 0;
	border: 1px solid rgb(8, 160, 163);
	border-radius: 5px;
	z-index: 1;
}


@media (min-width: 576px) {
	.card-title-top h3::before {
		top: calc(-7rem - 20px);
		font-size:1.5rem;
	}
}

footer {
	font-size: .6rem;
	color: #f8f8f8;
}

/******* lOGIN-REGISTER FORM*********/

section.flexin-block-features {
	height: 100%;
	background-image: url(/static/images/adult_2.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: 50% 50%;
}


/*********CONTACT FORM********/

section.contact-features {
	background-image: url(/static/images/adult_2.jpg);
	background-size: cover;
	background-repeat: none;
	background-position: 50% 100%;
}

section.contact-bottom-features  {
	padding-top: 10em;
	background-color: rgb(8, 160, 163);
	margin-top: -10em;
	position: relative;
	z-index: 0;
}

section.contact-bottom-features .card {
	background-color: transparent;
	color: #fff;
	padding: .5rem;
	/*margin-top: 1.5rem;*/
	border: 0;
}

section.contact-bottom-features .card + .card {
	margin-top: 1.5rem;
}

section.contact-bottom-features .card-title {
	font-size: 1.5rem;
}

section.contact-bottom-features .card-title i{
	font-size: 3rem;
	color: #DAA520;
}

section.contact-bottom-features .card-body {
	border-radius: 5px;
	border: 1px solid #DAA520;
}


@media (min-width: 576px) {
	form.contact-form {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (min-width: 768px) {
	section.contact-bottom-features .card {
		margin-top: 0;
	}
}

@media (min-width: 992px) {
	section.contact-features {
		background-position: left center;
	}
}
