<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        {% url 'home' as home_url %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{home_url}}">Home</a>
        </li>
        {% url 'wedding:home' as wedding_url %}
        {% if not request.path == wedding_url %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{wedding_url}}">Wedding</a>
          </li>
        {% endif %}
        {% if request.path == wedding_url %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#invitation-features">Rsvp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#gift-features">Gifts</a>
          </li>
        {% endif %}
        {% url 'wedding:list-gallery' as gallery_url %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="{{gallery_url}}">Gallery</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5">David & Allen</h1>
        </div>
      </div>
    </div>
  </div>
</header>
