		{% extends "base_2.html" %}{% load i18n %}{% block extrahead %}{% load  static %}
		<!-- Cover CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">{% endblock extrahead %}{% block page_title %}{% trans "403 Error" %}{% endblock page_title %}{% block content %}
		<div class="container">
			<div class="row mt-5">
				<div class="col-lg-8 offset-lg-2">
					<div class="card mx-auto">
						<div class="card-body text-center">
							<h5 class="card-title font-weight-normal text-center">{% trans "403 Error: Permission Denied" %}</h5>
							<hr>
						    <p> {% trans "Bad Request, Permission denied" %} </p>
						</div>
					</div>
				</div>
			</div>
		</div>{% endblock %}


