<!doctype html>
<html lang="en">
  <head>
    {% load static %}
  	<!-- Required meta tags -->
  	{% include "snippets/header.html" %}
    
    {% block extrahead %}{% endblock extrahead %}

    <title> {% block page_title %}{% endblock page_title %} </title> 
    
  </head>
  <body>
  	{% block navbar %}{% endblock navbar %}

  	{% block carousel %}{% endblock carousel %}

  	{% block content %}
  		<h1>Hello, world!</h1>
  	{% endblock content %}
    
    {% include "snippets/footer.html" %}

  	{% include "snippets/js.html" %}

      <!-- Optional JavaScript -->
  	{% block extrajs %}{% endblock extrajs %}

  </body>
</html>
