    {% extends 'base.html' %}{% load i18n %}{% load crispy_forms_tags %}{% block extrahead %}{% load  static %}
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">{% endblock extrahead %}{% block page_title %}{% blocktrans with page_title|default:"my details"|title as page_title %}{{page_title}}{% endblocktrans %}{% endblock page_title %}{% block carousel %}
    <section class="header-carousel">{% include "snippets/carousel.html" %}
    </section>{% endblock carousel %}{% block content %}
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/adult_5.jpg' %}" alt="David and Allen having fun">
          <div class="intro-text left-0 bg-faded rounded">
            <h2 class="section-heading text-center mb-4">
              <span class="section-heading-upper">Its Me Time!!</span>
              <span class="section-heading-lower">Something Nobody Knew About Me</span>
            </h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo tempor enim, sit amet auctor metus commodo sed. Cras vehicula tempor condimentum. Fusce auctor laoreet mi. Proin non eros porttitor, tincidunt nulla nec, blandit nisi.
            </p>
            <!--div class="intro-button">
              <a class="btn btn-warning btn-xl" href="#">Please Join Us!</a>
            </div-->
          </div>
        </div>
      </div>
    </section>
    <section class="page-section">
      <div class="container">
        <div class="row">
          <div class="col-md-5"><img src="//unsplash.it/499/500" alt="" class="img-fluid rounded"></div>
          <div class="col-md-7 about-detail">
            <div class="about-detail-info-right">
              <h3>My Professional Experiences</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 order-md-2"><img src="//unsplash.it/500/499" alt="" class="img-fluid rounded"></div>
          <div class="col-md-7 about-detail order-md-1">
            <div class="about-detail-info-left">
              <h3>My Professional Experiences</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5"><img src="//unsplash.it/501/500" alt="" class="img-fluid rounded"></div>
          <div class="col-md-7 about-detail">
            <div class="about-detail-info-right">
              <h3>My Professional Experiences</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 order-md-2"><img src="//unsplash.it/500/501" alt="" class="img-fluid rounded"></div>
          <div class="col-md-7 about-detail order-md-1">
            <div class="about-detail-info-left">
              <h3>My Professional Experiences</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
            </div>
          </div>
        </div>
      </div>
    </section>{% endblock %}
