{% extends 'base/base.html' %}

  {% load i18n %}

  {% load crispy_forms_tags %}

  {% block extrahead %}
    {% load  static %}
      <!-- Custom fonts for this template -->
      <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"> 
  {% endblock extrahead %}

  {% block page_title %} 
    {% blocktrans with page_title|default:"welcome home"|title as page_title %}
      {{page_title}}
    {% endblocktrans %} 
  {% endblock page_title %} 

  {% block content %}
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">David &amp; Allen</span>
      <span class="site-heading-lower">Welcome Home!</span>
    </h1>
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'images/adult_4.jpg' %}" alt="David and Allen having fun">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">celebrating</span>
              <span class="section-heading-lower">25yrs of marriage</span>
            </h2>
            <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo tempor enim, sit amet auctor metus commodo sed. Cras vehicula tempor condimentum. Fusce auctor laoreet mi. Proin non eros porttitor, tincidunt nulla nec, blandit nisi.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn btn-primary btn-xl" href="#">come join us!</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section clearfix cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Our Family Value</span>
                <span class="section-heading-lower">PSALMS 23</span>
              </h2>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo tempor enim, sit amet auctor metus commodo sed. Cras vehicula tempor condimentum. Fusce auctor laoreet mi. Proin non eros porttitor, tincidunt nulla nec, blandit nisi. Pellentesque condimentum lacus eu leo interdum, vel mattis augue consectetur. Etiam varius dui dolor, eget tempor nibh vestibulum eget. Nulla sed arcu ut odio lobortis tristique.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="page-section family-card">
      <div class="container">
        <div class="row">
          <div class="card-container col-lg-4">
            <div class="card-flip">
              <div class="front card">
                <!-- Card Contents Here -->
                <div class="card">
                  <img class="card-img-top" src='{% static "images/adult_5.jpg" %}' alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title text-center">Lynette Love</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur commodo tempor enim, sit amet auctor metus commodo sed. Cras vehicula tempor condimentum. Fusce auctor laoreet mi. Proin non eros porttitor, tincidunt nulla nec, blandit nisi.Etiam varius dui dolor, eget tempor nibh vestibulum eget.</p>
                  </div>
                </div>
                <!--End front card contents -->
              </div>
              <div class="back card">
                <!-- Card Contents Here -->
                <div class="card">
                  <img class="card-img-top" src='{% static "images/adult_5.jpg" %}' alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title text-center">Lynette Love</h5>
                    <h6 class="card-subtitle text-center mb-2 text-muted">Engineering <br>University of Maryland</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-outline-primary">More About Lynette</a>
                  </div>
                  <div class="card-footer">
                    <div class="social-links text-center">
                      <a href="#" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                      <a href="#" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                      <a href="#" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                      <a href="#" class="linkedin"><i class="fa fa-linkedin fa-fw"></i></a>
                      <a href="#" class="instagram"><i class="fa fa-instagram fa-fw"></i></a>
                      <a href="#" class="youtube"><i class="fa fa-youtube fa-fw"></i></a>
                    </div>
                    </div>
                </div>
                <!--End back card contents-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
