{% extends 'base/base_wedding.html' %}
  {% load i18n %}

  {% load crispy_forms_tags %}

  {% block extrahead %}
    {% load  static %}
    
    {% url 'wedding:rsvp' as rsvp_url %}
    {% if request.path == rsvp_url %}
      <!-- Wedding CSS -->
      <link rel="stylesheet" type="text/css" href=" {% static "wedding/css/wedding.css" %} "> 
      <!-- Fonts CSS -->
      <link rel="stylesheet" type="text/css" href=" {% static "wedding/css/fonts.css" %} "> 
    {% else %} 
      <!-- Main Project CSS -->
      <link rel="stylesheet" type="text/css" href=" {% static "css/base.css" %} "> 
    {% endif %}
    
  {% endblock extrahead %}

  {% block page_title %} 
    {% blocktrans with page_title|default:"contact us"|title as page_title %}
      {{page_title}}
    {% endblocktrans %} 
  {% endblock page_title %} 

  {% block content %}
    {% url 'contact' as contact_url %}
    {% url 'wedding:rsvp' as rsvp_url %}
    <section class="rsvp-features bg-light" id="rsvp-features">
      <div class="container">
        <div class="section-heading">
          <h2>
            {% if request.path == contact_url  %}
              {% blocktrans with section_hdg_title|default:'contact us'|upper as section_hdg_title %}
                {{section_hdg_title}}  
              {% endblocktrans %}  
            {% elif request.path == rsvp_url %}
              {% blocktrans with section_hdg_title|default:'reservation'|upper as section_hdg_title %}
                {{section_hdg_title}}  
              {% endblocktrans %}  
            {% else %}
              {% blocktrans with section_hdg_title|default:'contact us'|upper as section_hdg_title %}
                {{section_hdg_title}}  
              {% endblocktrans %}  
            {% endif %}
          </h2>
        </div>
        <div class="row">
          <div class="col-lg-8 offset-md-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <h3>
                    {% if request.path == contact_url  %}
                      {% blocktrans with contact_top_title|default:'we love to hear from you'|upper as contact_top_title %}
                        {{contact_top_title}}  
                      {% endblocktrans %}  
                    {% elif request.path == rsvp_url %}
                      {% blocktrans with contact_top_title|default:'rsvp form'|upper as contact_top_title %}
                        {{contact_top_title}}  
                      {% endblocktrans %}  
                    {% else %}
                      {% blocktrans with contact_top_title|default:'please complete form'|upper as contact_top_title %}
                        {{contact_top_title}}  
                      {% endblocktrans %}  
                    {% endif %}
                  </h3>
                </div>
                <form action="{{rsvp_url}}" class="rsvp-form" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button type='submit' class='btn btn-outline-warning'>
                  {% if request.path == contact_url %}
                    {% trans "send message" %}
                    {% elif request.path == rsvp_url %}
                    {% blocktrans with submit_btn|default:"i am attending"|upper as submit_btn %}
                      {{submit_btn}}
                    {% endblocktrans %}
                  {% else %}
                    {% trans "submit" %}
                  {% endif %}
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="rsvp-features-events bg-light" id="rsvp-features-events">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="card">
              <div class="card-title">
                <h3>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <br>
                  {% if request.path == contact_url  %}
                    {% blocktrans with contact_btm_title|default:"mail"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% elif request.path == rsvp_url %}
                    {% blocktrans with contact_btm_title|default:"venue"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% else %} 
                    {% blocktrans with contact_btm_title|default:"home"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% endif %}
                </h3>
              </div>
              <div class="card-body text-center">
                <p>{{street_address|default:"agape ministries"|title}}<br>{{city|default:"beltsville"|capfirst}} {{state|default:"md"|upper}} {{zipcode|default:"07105"}}</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-title">
                <h3>
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <br>
                  {% if request.path == contact_url  %}
                    {% blocktrans with contact_btm_title|default:"call us"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% elif request.path == rsvp_url %}
                    {% blocktrans with contact_btm_title|default:"planners"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% else %} 
                    {% blocktrans with contact_btm_title|default:"telephone"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% endif %}
                </h3>
              </div>
              <div class="card-body text-center">
                <p>{{phone1|default:"(888) 555-5555"}}<br>{{phone2|default:"(999) 666-6666"}}</p>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="card">
              <div class="card-title">
                <h3>
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <br>
                  {% if request.path == contact_url  %}
                    {% blocktrans with contact_btm_title|default:"email us"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% elif request.path == rsvp_url %}
                    {% blocktrans with contact_btm_title|default:"email"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% else %} 
                    {% blocktrans with contact_btm_title|default:"our emails"|title as contact_btm_title %}
                      {{contact_btm_title}}
                    {% endblocktrans %}
                  {% endif %}
                </h3>
              </div>
              <div class="card-body text-center">
                <p> {{email1|default:"johndoe@email.com"}} <br> {{email2|default:"janedoe@email.com"}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
