        {% extends "photologue/root.html" %}
        {% load i18n %}
        {% block extrahead %}{% load  static %}<!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">{% endblock extrahead %}
        {% block page_title %}{% blocktrans with object.title|default:"photo galleries"|title as object.title %}{{object.title}}{% endblocktrans %}{% endblock page_title %}{% block content %}
        <h1 class="site-heading text-center text-white d-none d-lg-block">
            <span class="site-heading-upper text-muted mb-3 d-none">{% blocktrans with object.title|default:"our gallery"|add:" gallery"|upper as object.title %}{{object.title}}{% endblocktrans %}</span>
            <span class="site-heading-lower text-muted">{% blocktrans with object.title|default:"photo gallery"|upper as object.title %}{{object.title}}{% endblocktrans %}</span>
        </h1>
        <section class="photo-detail-feature" id="photo-detail-feature">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="card photo-detail">
                            <img src="{{ object.get_display_url }}" alt="{{ object.title }}" class="card-img-top w-100">
                            <div class="card-body">
                                <h3 class="card-title">{% blocktrans with object.title|title as object.title %}{{object.title}}{% endblocktrans %}</h3>
                                <p class="card-text">{{ object.caption|safe }}</p>
                                <p class="text-muted"><small>{% trans "Published" %} {{ object.date_added }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{block.super}}{% endblock %}
